.icon-title{
    margin-left: 5px;
    cursor: pointer;
    border:none;
    font-size: 25px;
}
.icon-title:hover{
   /* border:solid 1px #212529;
   border-radius: 5px; */
   color: #212529;
   /* transition-delay: 1s; */
}


.bg-div{
   background-color: #353d44

}

.f-title{
    color: #e2e2e2;
    cursor: pointer;
    margin-top: 50px;
}

.f-title:hover{
    color: #84898d;
}
.blockquote{
    margin: 12px 0;
    margin-bottom: 18px;
    color: white;
}

